/*********** Overordnet ***********/

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Arial';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

footer {
    margin: 0 auto;
    max-width: 1080px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 1em;
    border-top: 1px solid #ccc;
}

#logo {
    margin: 35px auto 0px auto;
    background-image: url(img/logohvid.svg);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    top: 0;
    right: 0;
}

#logo:hover {
    background-image: url(img/logoblaa.svg);
}

section {
    padding: 0 20px 0 20px;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;

}

h2 {
    margin: 0 auto 20px auto;
    max-width: 1080px;

    border-top: 1px solid #ccc;
    padding-top: 20px;
}

h3 {
    font-size: 1.2em;
}

h4 {
    margin: 0 0 10px 0;
}

p {
    line-height: 1.4em;
}

.container {
    margin: 0 auto;
    max-width: 1080px;

    display: flex;
    flex-wrap: wrap;
}

/*********** Gruppe ***********/

#group .column {
    flex-basis: 320px;
    flex-grow: 1;
    padding-bottom: 20px;
}

.person {
    display: flex;
}

.personbillede {}

.personbillede img {
    width: 60px;
    margin: 6px 0 6px 0;
    border-radius: 50%;
}

.persontekst {}

.persontekst p {
    line-height: 72px;
    font-size: 1.2em;
    padding: 0 0 0 15px;
    margin: 0;
}

.link {
    display: flex;
}

.linkbillede img {
    width: 50px;
    margin: 6px 0 6px 0;
}

.linktekst p {
    line-height: 62px;
    font-size: 1.2em;
    padding: 0 0 0 15px;
    margin: 0;
}


/*********** Ide ***********/

#ideate .column {
    flex-basis: 1080px;
    flex-grow: 1;
    margin: 0 0 20px 0;
}

.ide {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ide_indhold {
    flex-grow: 1;
    flex-basis: 360px;
}

.ide_indhold img {
    width: 100%;
}

.ide_indhold p {
    padding-right: 30px;
    line-height: 1.4;
}


/*********** Scrum ***********/

.arrow {
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    width: 35px;
}

.scrumcontainer {
    max-width: 1080px;
    margin: 0 auto 20px auto;

    border-top: 1px solid #ccc;
}

.videocontainer {
    display: flex;
    flex-wrap: wrap;
}

.dag {
    flex-basis: 520px;
    flex-grow: 1;
}

.dag video {
    width: 530px;
    height: 397px;
}

.first {
    margin-right: 20px;
}


/*********** Media screen ***********/

@media screen and (max-width: 1080px) {
    .scrumcontainer {
        max-width: 1080px;
        margin: 0 auto;

        border-top: 1px solid #ccc;
    }

    .videocontainer {
        display: flex;
        flex-wrap: wrap;
        width: 540px;
        margin: 0 auto;
    }

    .dag {
        flex-basis: 520px;
        flex-grow: 1;
    }

    .dag video {
        width: 540px;
        height: 405px;
    }

    .first {
        margin-right: 0;
    }
}

@media screen and (max-width: 584px) {
    .videocontainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .dag video {
        width: 100%;
        height: auto;
    }
}


/********* Emphathize *********/

/********* Experience map *********/

.experience img {
    max-width: 90%;
}

.experience .wrapper {
    max-width: 1080px;
}

.experience a {
    line-height: 1.5em;
    text-decoration: underline;
}

.experience a:hover {
    cursor: pointer;
}

.experience a > div {
    display: none;
}

.experience a:hover > div {
    display: block;
    position: absolute;
    cursor: pointer;
    margin-left: 150px;
    margin-top: -15px;
}

#empathize .container {
    margin-bottom: 20px;
}

/********* Collapse Interview ********/

.topheader {
    margin-bottom: 5px;
}

.collapse-list {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0px;
}

.collapse-open {
    display: none;
}

.collapse-painel {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height .1s,
    visibility .3s,
    opacity .3s;
}

.collapse-open:checked ~ .collapse-painel {
    max-height: 100%;
    opacity: 100;
    visibility: visible
}

.collapse-list li {
    margin: 0;
    padding: 0;
}

label {
    font-size: 1.1em;
}

.collapse-list .collapse-btn {
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    color: black;
    font-weight: normal;
    padding: 15px 0px 15px 0px;
    transition: background-color .2s ease;
}

.collapse-list .collapse-btn:hover {
    color: blue;
}

.collapse-open ~ .collapse-btn:before {
    content: "▾";
    float: right;
}

.collapse-open:checked ~ .collapse-btn:before {
    content: "▾";
    transform: rotate(180deg);
}

.collapse-list .collapse-inner {
    padding: 10px 20px 20px 20px;
    background-color: #f3f3f3;
}

.collapse-inner p {
    margin: 20 0 0 0;
    padding: 0;
}
